npm-debug.log
yarn-error.log
package-lock.json
node_modules/
dump.rdb
logs/
.env
**/.sass-cache
**/.sass-cache/*
environments/**
admin/.editorconfig
config/credentials
!config/credentials/*dev.p12
.DS_Store
*.swp
.prodenv
.tern-project
.tern-port
.vscode
*.sublime-project
*.sublime-workspace
coverage
*.lcov
mongodata
db/mongodata
newrelic_agent.log
.tags
.nyc_output/
